@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/Roboto-Thin.ttf');
}
* {
  color: #2b3e51;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}
html,
body,
main {
  width: 100%;
  height: 100%;
  background-color: #32b2e5;
  background-image: url("../images/linhas.png");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1600px) {
  html,
  body,
  main {
    background-size: 100% 100%;
  }
}
.hover {
  cursor: pointer;
}
#cabecalho nav ul li a {
  display: block;
  text-align: center;
  padding: 15px 0;
}
@media only screen and (min-width: 1000px) {
  #cabecalho nav ul li a {
    display: inline-block;
    margin-left: calc(50% - 150px);
  }
}
#cabecalho nav ul li a img {
  width: 200px;
  height: auto;
}
@media only screen and (min-width: 450px) {
  #cabecalho nav ul li a img {
    width: 220px;
  }
}
@media only screen and (min-width: 1000px) {
  #cabecalho nav ul li a img {
    width: 300px;
  }
}
#central #arquivo-removido h1 {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
#central #arquivo-removido a {
  display: block;
  color: #FFF;
  background-color: #2b3e51;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 20px;
  width: 162px;
}
#central > #principal #form-upload {
  width: 95%;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 450px) {
  #central > #principal #form-upload {
    width: 70%;
  }
}
@media only screen and (min-width: 600px) {
  #central > #principal #form-upload {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  #central > #principal #form-upload {
    width: 40%;
  }
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload {
    display: flex;
    width: 80%;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #central > #principal #form-upload {
    width: 62%;
  }
}
@media only screen and (min-width: 1450px) {
  #central > #principal #form-upload {
    width: 55%;
  }
}
@media only screen and (min-width: 1750px) {
  #central > #principal #form-upload {
    width: 50%;
  }
}
@media only screen and (min-height: 750px) {
  #central > #principal #form-upload {
    margin-top: 100px;
  }
}
@media only screen and (min-height: 850px) {
  #central > #principal #form-upload {
    margin-top: 140px;
  }
}
#central > #principal #form-upload .section-formulario {
  background-color: #f3f7fb;
  padding: 25px 0;
  border-radius: 10px;
  margin: 0 0 20px 0;
}
#central > #principal #form-upload .section-formulario h1 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}
#central > #principal #form-upload .section-formulario h1 span {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload .section-formulario {
    flex: 1;
    margin: 0 20px;
  }
  #central > #principal #form-upload .section-formulario h1 {
    font-size: 30px;
  }
  #central > #principal #form-upload .section-formulario h1 span {
    display: inline;
  }
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload .section-formulario:first-child {
    flex: 1;
    padding: 10px;
  }
}
#central > #principal #form-upload #section-percent-upload {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-percent-upload {
    padding: 50px 30px 30px 30px;
  }
}
#central > #principal #form-upload #section-percent-upload .pie_progress {
  width: 115px;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-percent-upload .pie_progress {
    width: 150px;
    margin-top: 25px;
  }
}
#central > #principal #form-upload #section-percent-upload .pie_progress .pie_progress__number {
  color: #2b3e51;
  font-size: 37px;
}
#central > #principal #form-upload #section-percent-upload .pie_progress .pie_progress__svg svg path {
  stroke: #2b3e51;
  stroke-width: 6;
}
#central > #principal #form-upload #section-percent-upload #compartilhar {
  margin-top: 22px;
  padding: 0 20px;
}
#central > #principal #form-upload #section-percent-upload #compartilhar h2 {
  font-size: 16px;
  margin-bottom: 2px;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #link-compartilhar {
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #btn-copiar-link {
  width: 100%;
  margin: 12px 0;
  background-color: #2b3e51;
  border-radius: 8px;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
  border: none;
  padding: 8px 0;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #arquivos-success {
  margin-top: 10px;
  overflow: auto;
  height: auto;
  max-height: 80px;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #arquivos-success ul {
  list-style: none;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #arquivos-success ul li {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
#central > #principal #form-upload #section-percent-upload #compartilhar #arquivos-success ul li img {
  float: right;
  width: 20px;
  height: auto;
}
#central > #principal #form-upload #section-archive {
  display: block;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive {
    padding: 40px 30px;
  }
}
#central > #principal #form-upload #section-archive ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul {
    margin-top: 30px;
  }
}
#central > #principal #form-upload #section-archive ul li {
  flex: 1;
  text-align: center;
  font-size: 16px;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul li {
    font-size: 30px;
  }
}
#central > #principal #form-upload #section-archive ul li #botao-arquivo {
  padding-left: 50px;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul li #botao-arquivo {
    padding-left: 0;
  }
}
#central > #principal #form-upload #section-archive ul li #botao-pasta {
  padding-right: 50px;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul li #botao-pasta {
    padding-right: 0;
  }
}
#central > #principal #form-upload #section-archive ul li .botao-upload {
  font-size: 0.9em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul li .botao-upload {
    font-size: 20px;
  }
}
#central > #principal #form-upload #section-archive ul li .botao-upload span {
  display: block;
}
#central > #principal #form-upload #section-archive ul li .botao-upload img {
  width: 60px;
  height: auto;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive ul li .botao-upload img {
    width: 100px;
  }
}
#central > #principal #form-upload #section-archive ul li input.input-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 100px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-archive,
  #central > #principal #form-upload #section-percent-upload {
    border: dashed 2px #2b3e51;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-inputs #lista-email-amigos {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 140px;
  }
}
#central > #principal #form-upload #section-inputs .form-control {
  padding: 0px 20px;
  margin-bottom: 15px;
}
#central > #principal #form-upload #section-inputs .form-control .campo-form {
  outline: none;
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 4px;
  border: none;
  border-bottom: solid 1px #2b3e51;
  background-color: transparent;
  width: 100%;
}
#central > #principal #form-upload #section-inputs .form-control .campo-form::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2b3e51;
}
#central > #principal #form-upload #section-inputs .form-control .campo-form::-moz-placeholder {
  /* Firefox 19+ */
  color: #2b3e51;
}
#central > #principal #form-upload #section-inputs .form-control .campo-form:-ms-input-placeholder {
  /* IE 10+ */
  color: #2b3e51;
}
#central > #principal #form-upload #section-inputs .form-control .campo-form:-moz-placeholder {
  /* Firefox 18- */
  color: #2b3e51;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-inputs .form-control .campo-form {
    font-size: 17px;
  }
}
#central > #principal #form-upload #section-inputs .form-control #add-mail-friend {
  width: 25px;
  height: auto;
  border-bottom: solid 1px #2b3e51;
  float: left;
  padding-bottom: 2px;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-inputs .form-control #add-mail-friend {
    padding-bottom: 4px;
  }
}
#central > #principal #form-upload #section-inputs .form-control .email-amigo {
  padding-left: 10px;
  margin-top: 5px;
  width: calc(100% - 29px);
}
#central > #principal #form-upload #section-inputs .form-control .email-amigo-adicionado {
  width: 100%;
  clear: both;
  margin-top: 15px;
}
#central > #principal #form-upload #section-inputs .form-control .email-amigo-adicionado:last-child {
  margin-bottom: 5px;
}
#central > #principal #form-upload #section-inputs .form-control textarea {
  resize: none;
  height: 100px;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-inputs .form-control textarea {
    height: 130px;
  }
}
#central > #principal #form-upload #section-inputs .form-control .botao {
  background-color: transparent;
  border-radius: 25px;
  border: solid 1px #2b3e51;
  font-size: 18px;
  padding: 12px 58px 12px 15px;
  background-image: url("../images/icone-seta.png");
  background-repeat: no-repeat;
  background-position: top 8px right 20px;
  background-size: 30px auto;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  #central > #principal #form-upload #section-inputs .form-control .botao {
    font-size: 20px;
    border: solid 2px #2b3e51;
  }
}
#central > #principal #form-upload #section-inputs .form-control:last-child {
  margin-bottom: 0;
}
.central-download {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1000px) {
  .central-download {
    margin-bottom: 0;
    min-height: 80%;
    max-height: 80%;
  }
}
.central-download #form-download {
  background-color: #f3f7fb;
  width: 95%;
  display: block;
  margin: 0 auto;
  padding: 20px 6px;
  border-radius: 10px;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download {
    position: relative;
  }
}
@media only screen and (min-height: 600px) {
  .central-download #form-download {
    overflow: auto;
    height: 440px;
    max-height: 440px;
  }
}
@media only screen and (min-height: 680px) {
  .central-download #form-download {
    height: 530px;
    max-height: 530px;
  }
}
@media only screen and (min-height: 750px) {
  .central-download #form-download {
    height: 585px;
    max-height: 585px;
  }
}
@media only screen and (min-height: 850px) {
  .central-download #form-download {
    height: 685px;
    max-height: 685px;
  }
}
.central-download #form-download label {
  font-size: 15px;
  cursor: pointer;
}
.central-download #form-download label #select-all {
  margin: 0 15px 0 5px;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download label #select-all {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
.central-download #form-download #download {
  background-color: #2b3e51;
  color: #FFF;
  display: block;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 8px 40px 8px 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("../images/icone-download.png");
  background-repeat: no-repeat;
  background-position: top 8px right 15px;
  background-size: 17px auto;
  cursor: pointer;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download #download {
    position: absolute;
    left: calc(50% - 61px);
    top: 20px;
  }
}
.central-download #form-download #compartilhe {
  display: none;
  font-size: 15px;
  color: #2b3e51;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download #compartilhe {
    position: absolute;
    display: block;
    right: 15px;
    top: 27px;
  }
}
.central-download #form-download .tabela {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: 12px 0;
}
.central-download #form-download .tabela .check-download {
  margin: 0 5px;
  cursor: pointer;
}
.central-download #form-download .tabela th,
.central-download #form-download .tabela td {
  padding: 7px 0;
  font-size: 14px;
}
.central-download #form-download .tabela thead tr th {
  background-color: #2b3e51;
  color: #FFF;
  text-align: left;
  font-weight: normal;
}
.central-download #form-download .tabela thead tr th:first-child {
  width: 30px;
}
.central-download #form-download .tabela tbody tr:nth-child(even) {
  background-color: #e0e4e8;
}
.central-download #form-download .tabela .mobile-right {
  text-align: right;
  padding-right: 7px;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download .tabela .mobile-right {
    text-align: left;
    padding-right: 0;
  }
}
.central-download #form-download .tabela .mobile {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .central-download #form-download .tabela .mobile {
    display: table-cell;
  }
}
#notificacao {
  display: none;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-bottom: solid 4px #32b2e5;
  box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.8);
}
#notificacao span {
  font-weight: bold;
  display: block;
  padding: 12px 0;
  text-align: center;
  color: #2b3e51;
  font-size: 15px;
}
@media only screen and (min-width: 1000px) {
  #notificacao span {
    font-size: 22px;
  }
}
footer {
  text-align: center;
  padding: 0 3px 8px 3px;
  font-size: 15px;
}
@media only screen and (min-width: 1000px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer #copy,
  footer #developer {
    position: fixed;
    right: 15px;
  }
}
footer #termos {
  color: #FFF;
  display: none;
}
footer #termos a {
  text-decoration: none;
  color: #FFF;
}
@media only screen and (min-width: 1000px) {
  footer #termos {
    display: block;
  }
}
footer #copy {
  color: #FFF;
}
@media only screen and (min-width: 1000px) {
  footer #copy {
    bottom: 20px;
  }
}
footer #developer {
  margin-top: 4px;
  color: #FFF;
  font-size: 12px;
}
footer #developer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
footer #developer a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1000px) {
  footer #developer {
    bottom: 5px;
  }
}
