@font-face {
  font-family: 'Keep Calm';
  src: url('fonts/KeepCalm-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat ExtraLight';
  src: url('fonts/Montserrat/Montserrat-Hairline.otf');
}
@font-face {
  font-family: 'Montserrat UltraLight';
  src: url('fonts/Montserrat/Montserrat-UltraLight.otf');
}
@font-face {
  font-family: 'Montserrat Light';
  src: url('fonts/Montserrat/Montserrat-Light.otf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('fonts/Montserrat/Montserrat-Regular.otf');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat/Montserrat-Bold.otf');
}
* {
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat UltraLight", sans-serif;
}
html,
body,
main {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.tooltipster-base {
  min-width: 400px;
  max-width: 450px;
  height: auto;
  overflow-y: auto;
  pointer-events: all;
}
.tooltipster-box {
  max-height: 350px;
}
.tooltipster-box table {
  width: 100%;
  border-collapse: collapse;
}
.tooltipster-box table tr td {
  color: #FFF;
  border-bottom: solid 1px #FFF;
  padding: 3px 0 1px 0;
}
.tooltipster-box table tr td:last-child {
  text-align: right;
}
.botao {
  background-color: #0075be;
  border: none;
  font-size: 1em;
  color: #FFF;
  width: auto;
  padding: 12px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.transition {
  transition: all 500ms ease;
}
.hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.tabela {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-left: solid 1px rgba(79, 79, 79, 0.2);
}
.tabela thead {
  background-color: #0075be;
}
.tabela th,
.tabela td {
  padding: 8px 30px;
}
.tabela th {
  text-align: left;
  color: #FFF;
  font-family: "Montserrat Light", sans-serif;
  font-size: 0.8em;
}
.tabela tbody tr.selecionada {
  background-color: #ffc;
}
.tabela tbody tr {
  transition: all 500ms ease;
}
.tabela tbody tr:hover {
  background-color: #ffc;
}
.tabela tbody td {
  padding: 10px 30px;
  border-bottom: solid 1px rgba(79, 79, 79, 0.2);
}
#cabecalho {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.7);
}
#cabecalho nav {
  background-color: #4f4f4f;
  text-align: center;
}
#cabecalho nav img {
  width: 13%;
  height: auto;
}
#central > h1 {
  font-size: 2.8em;
  padding: 0 10%;
  margin: 40px 0;
  text-align: center;
}
#central #principal {
  display: flex;
  margin-top: 7%;
}
#central #principal > div {
  flex: 1;
  padding-left: 3%;
}
#central #principal > div h1 {
  font-size: 4em;
  color: #000;
  margin: 0 auto;
  margin-top: 1.7em;
}
#central #principal > div .formulario {
  min-height: 415px;
  width: 350px;
  background-color: #FFF;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-box-shadow: -7px -7px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -7px -7px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -7px -7px 15px 0px rgba(0, 0, 0, 0.2);
}
#central #principal > div .formulario .controls-form {
  border-bottom: solid 1px #f5f5f5;
  height: auto;
  padding: 12px 18px;
}
#central #principal > div .formulario .controls-form .campo-form {
  width: 100%;
  font-size: 0.9em;
  padding: 6px 8px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: solid 1px #FFF;
}
#central #principal > div .formulario .controls-form .campo-form:focus {
  transition: all 500ms ease;
  outline: none;
  background-color: #f5f5f5;
  border: solid 1px #f5f5f5;
}
#central #principal > div .formulario .controls-form #ajudaClick {
  display: block;
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 0.9em;
  cursor: pointer;
  margin-right: 2px;
}
#central #principal > div .formulario .controls-form #ajudaClick img {
  position: relative;
  top: 4px;
  width: 20px;
  height: auto;
}
#central #principal > div .formulario .controls-form .label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.9em;
}
#central #principal > div .formulario .controls-form ul {
  list-style: none;
  margin-top: 11px;
  display: flex;
  padding-left: 8px;
}
#central #principal > div .formulario .controls-form ul li {
  flex: 1;
}
#central #principal > div .formulario .controls-form ul li .botao-upload {
  font-size: 0.9em;
  color: #FFF;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
#central #principal > div .formulario .controls-form ul li .botao-upload span {
  position: absolute;
  top: 13px;
}
#central #principal > div .formulario .controls-form ul li .botao-upload img {
  height: auto;
  margin-right: 12px;
}
#central #principal > div .formulario .controls-form ul li #botao-arquivo img {
  width: 30px;
}
#central #principal > div .formulario .controls-form ul li #botao-pasta img {
  width: 44px;
}
#central #principal > div .formulario .controls-form ul li input.input-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
}
#central #principal > div .formulario .controls-form textarea {
  resize: none;
  height: 100px;
}
#central #principal > div .formulario .controls-form #arquivosUpload {
  font-size: 0.9em;
  display: none;
  margin-top: 10px;
  margin-left: 8px;
  cursor: pointer;
}
#central #principal > div .formulario #box-mensagem {
  border-bottom: none;
}
#central #principal > div .formulario #lista-email-amigos {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80px;
}
#central #principal > div .formulario #lista-email-amigos img {
  width: 23px;
  height: auto;
  position: absolute;
  right: -35px;
  top: 190px;
  opacity: 0.5;
  cursor: pointer;
}
#central #principal > div .formulario #lista-email-amigos img:hover {
  transition: all 500ms ease;
  opacity: 1;
}
#central #principal > div .formulario input[type="submit"] {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#central #acoes-arquivos {
  list-style: none;
  padding-left: 30px;
  margin-bottom: 8px;
}
#central #acoes-arquivos li {
  display: inline-block;
  padding: 7px 0;
  margin-right: 50px;
  transition: all 500ms ease;
  cursor: pointer;
}
#central #acoes-arquivos li:hover {
  border-left: solid 4px #0075be;
  padding-left: 7px;
  font-family: "Montserrat Light", sans-serif;
  font-size: 1.1em;
}
#central #acoes-arquivos li img {
  margin-left: 10px;
  float: right;
  width: 22px;
  height: auto;
}
#central table#arquivos-uploaded th:first-child {
  width: 40%;
}
#loading,
#close-upload,
#compartilhar,
#arquivos-success,
#notification {
  display: none;
}
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#loading #panel-loading {
  background-color: #FFF;
  padding: 30px 20px;
  width: 420px;
  height: auto;
  max-height: 550px;
  position: absolute;
  top: 12%;
  left: 50%;
  margin-left: -210px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#loading #panel-loading header {
  background-color: #0075be;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-radius: 10px 10px 0 0;
}
#loading #panel-loading header h1 {
  font-size: 1.1em;
  padding: 16px 20px;
  vertical-align: middle;
  color: #FFF;
}
#loading #panel-loading header h1 #close-upload {
  color: #FFF;
  font-size: 0.9em;
  float: right;
  cursor: pointer;
}
#loading #panel-loading .pie_progress {
  width: 135px;
  margin: 0 auto;
  margin-top: 50px;
}
#loading #panel-loading .pie_progress .pie_progress__number {
  color: #4f4f4f;
  font-size: 35px;
}
#loading #panel-loading .pie_progress .pie_progress__svg svg path {
  stroke: #0075be;
}
#loading #panel-loading #compartilhar {
  margin-top: 22px;
}
#loading #panel-loading #compartilhar h2 {
  font-size: 1em;
  margin-bottom: 2px;
  font-family: "Montserrat Light", sans-serif;
}
#loading #panel-loading #compartilhar form input[type="text"] {
  width: 100%;
  font-size: 1em;
  border: none;
  outline: none;
}
#loading #panel-loading #compartilhar form .botao {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 12px 0;
}
#loading #panel-loading #compartilhar #arquivos-success {
  margin-top: 10px;
  overflow: auto;
  height: auto;
  max-height: 190px;
}
#loading #panel-loading #compartilhar #arquivos-success ul {
  list-style: none;
}
#loading #panel-loading #compartilhar #arquivos-success ul li {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
#loading #panel-loading #compartilhar #arquivos-success ul li img {
  float: right;
  width: 20px;
  height: auto;
}
#notification {
  position: absolute;
  top: 12%;
  right: 5%;
  background-color: #FFF;
  padding: 20px 30px;
  border-radius: 0 8px 8px 0;
  border-left: solid 8px #0075be;
  -webkit-box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
#ajuda {
  position: absolute;
  width: 1px;
  height: 1px;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.7);
  display: none;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  font-family: "Montserrat Light", sans-serif;
  text-align: right;
}
footer div#copy {
  font-size: 0.9em;
}
footer div#developer {
  font-size: 0.8em;
}
footer div#developer a {
  text-decoration: underline;
}
