@light: "Roboto Light", sans-serif;
@thin: "Roboto Thin", sans-serif;

@font-face {
	font-family: 'Roboto Light';
	src: url('fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto Thin';
	src: url('fonts/Roboto-Thin.ttf');
}