@import "fonts.less";

@azul-claro: #32b2e5;
@azul-escuro: #2b3e51;
@cinza-bg: #f3f7fb;

* {
	color: @azul-escuro;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: @light;
}

html, body, main{
	width: 100%;
	height: 100%;
	background-color: @azul-claro;
	background-image: url("../images/linhas.png");
	background-repeat: no-repeat;

	@media only screen and (min-width: 1600px){
		background-size: 100% 100%;
	}
}

.radius(@tamanho: 10px){
	border-radius: @tamanho;
}
.hover{
	cursor: pointer;
}
.placeholder-color(@cor: @azul-escuro){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: @cor;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: @cor;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: @cor;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: @cor;
	}
}

#cabecalho{
	nav ul li a {
		display: block;
		text-align: center;
		padding: 15px 0;

		@media only screen and (min-width: 1000px){
			display: inline-block;
			margin-left: calc(~"50% - 150px");
		}

		img{
			width: 200px;
			height: auto;

			@media only screen and (min-width: 450px){
				width: 220px;
			}

			@media only screen and (min-width: 1000px){
				width: 300px;
			}
		}
	}
}

#central{
	#arquivo-removido{
		h1{
			color: #FFF;
			font-size: 20px;
			text-align: center;
			margin-top: 50px;
		}

		a{
			display: block;
			color: #FFF;
			background-color: @azul-escuro;
			padding: 10px 15px;
			.radius(20px);
			text-decoration: none;
			margin: 0 auto;
			margin-top: 20px;
			width: 162px;
		}
	}

	> #principal {
		#form-upload{
			width: 95%;
			display: block;
			margin: 0 auto;

			@media only screen and (min-width: 450px){
				width: 70%;
			}

			@media only screen and (min-width: 600px){
				width: 50%;
			}

			@media only screen and (min-width: 800px){
				width: 40%;
			}

			@media only screen and (min-width: 1000px){
				display: flex;
				width: 80%;
				margin-top: 50px;
			}

			@media only screen and (min-width: 1200px){
				width: 62%;
			}

			@media only screen and (min-width: 1450px){
				width: 55%;
			}

			@media only screen and (min-width: 1750px){
				width: 50%;
			}

			@media only screen and (min-height: 750px){
				margin-top: 100px;
			}

			@media only screen and (min-height: 850px){
				margin-top: 140px;
			}

			.section-formulario{
				background-color: @cinza-bg;
				padding: 25px 0;
				.radius;
				margin: 0 0 20px 0;

				h1{
					font-size: 18px;
					text-align: center;
					padding-bottom: 20px;

					span{
						display: none;
					}
				}

				@media only screen and (min-width: 1000px){
					flex: 1;
					margin: 0 20px;

					h1{
						font-size: 30px;

						span{
							display: inline;
						}
					}
				}

				&:first-child{
					@media only screen and (min-width: 1000px){
						flex: 1;
						padding: 10px;
					}
				}
			}

			#section-percent-upload{
				// display: block;
				display: none;

				@media only screen and (min-width: 1000px){
					padding: 50px 30px 30px 30px;
				}

				.pie_progress {
				    width: 115px;
				    margin: 0 auto;

				    @media only screen and (min-width: 1000px){
						width: 150px;
						margin-top: 25px;
					}

				    .pie_progress__number{
				    	color: @azul-escuro; //Cor do número %
				    	font-size: 37px;
				    }

					.pie_progress__svg{
						svg {
							path{
								stroke: @azul-escuro; //Cor do circulo
								stroke-width: 6; //largura da borda
							}
						}
					}
				}

				#compartilhar{
					margin-top: 22px;
					padding: 0 20px;

					h2{
						font-size: 16px;
						margin-bottom: 2px;
					}

					#link-compartilhar{
						width: 100%;
						font-size: 14px;
						border: none;
						outline: none;
						background-color: transparent;
					}

					#btn-copiar-link{
						width: 100%;
						margin: 12px 0;
						background-color: @azul-escuro;
						.radius(8px);
						font-size: 14px;
						color: #FFF;
						.hover;
						border: none;
						padding: 8px 0;
					}

					#arquivos-success{
						margin-top: 10px;
						overflow: auto;
						height: auto;
						max-height: 80px;

						ul {
							list-style: none;

							li{
								border-bottom: solid 1px #cccccc;
								padding-bottom: 5px;
								margin-bottom: 5px;
								font-size: 14px;

								img{
									float: right;
									width: 20px;
									height: auto;
								}
							}
						}
					}
				}
			}

			#section-archive{
				display: block;
				// display: none;

				@media only screen and (min-width: 1000px){
					padding: 40px 30px;
				}

				ul {
					list-style: none;
					display: flex;
					align-items: center;
	  				justify-content: center;

	  				@media only screen and (min-width: 1000px){
						margin-top: 30px;
					}

					li {
						flex: 1;
						text-align: center;
						font-size: 16px;

						@media only screen and (min-width: 1000px){
							font-size: 30px;
						}

						#botao-arquivo{
							padding-left: 50px;

							@media only screen and (min-width: 1000px){
								padding-left: 0;
							}
						}

						#botao-pasta{
							padding-right: 50px;

							@media only screen and (min-width: 1000px){
								padding-right: 0;
							}
						}

						.botao-upload {
							font-size: 0.9em;
						    position: relative;
						    overflow: hidden;
							.hover;
							width: 100%;
							text-align: center;

							@media only screen and (min-width: 1000px){
								font-size: 20px;
							}

							span{
								display: block;
							}

							img{
								width: 60px;
								height: auto;

								@media only screen and (min-width: 1000px){
									width: 100px;
								}
							}
						}

						input.input-upload {
						    position: absolute;
						    top: 0;
						    right: 0;
						    margin: 0;
						    padding: 0;
						    font-size: 100px;
						    cursor: pointer;
						    opacity: 0;
						    width: 100%;
						}
					}	
				}
			}

			#section-archive, #section-percent-upload{
				@media only screen and (min-width: 1000px){
					border: dashed 2px @azul-escuro;
					.radius;
					width: 100%;
					height: 100%;
					margin: 0 auto;
				}
			}

			#section-inputs{

				#lista-email-amigos{
				
					@media only screen and (min-width: 1000px){
						overflow-y: auto;
						overflow-x: hidden;
						max-height: 140px;
					}
				}

				.form-control{
					padding: 0px 20px;
					margin-bottom: 15px;

					.campo-form{
						outline: none;
						font-size: 15px;
						padding-left: 5px;
						padding-bottom: 4px;
						border: none;
						border-bottom: solid 1px @azul-escuro;
						background-color: transparent;
						width: 100%;
						.placeholder-color;

						@media only screen and (min-width: 1000px){
							font-size: 17px;
						}
					}

					#add-mail-friend{
						width: 25px;
						height: auto;
						border-bottom: solid 1px @azul-escuro;
						float: left;
						padding-bottom: 2px;
						.hover;

						@media only screen and (min-width: 1000px){
							padding-bottom: 4px;
						}
					}

					.email-amigo{
						padding-left: 10px;
						margin-top: 5px;
						width: calc(~"100% - 29px");
					}

					.email-amigo-adicionado{
						width: 100%;
						clear: both;
						margin-top: 15px;

						&:last-child{
							margin-bottom: 5px;
						}
					}

					textarea{
						resize: none;
						height: 100px;

						@media only screen and (min-width: 1000px){
							height: 130px;
						}
					}

					.botao{
						background-color: transparent;
						.radius(25px);
						border: solid 1px @azul-escuro;
						font-size: 18px;
						padding: 12px 58px 12px 15px;
						background-image: url("../images/icone-seta.png");
						background-repeat: no-repeat;
						background-position: top 8px right 20px;
						background-size: 30px auto;
						.hover;

						@media only screen and (min-width: 1000px){
							font-size: 20px;
							border: solid 2px @azul-escuro;
						}
					}

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.central-download{
	margin-bottom: 20px;

	@media only screen and (min-width: 1000px){
		margin-bottom: 0;
		min-height: 80%;
		max-height: 80%;
	}

	//tela download
	#form-download{
		background-color: @cinza-bg;
		width: 95%;
		display: block;
		margin: 0 auto;
		padding: 20px 6px;
		.radius;

		@media only screen and (min-width: 1000px){
			position: relative;
		}


		@media only screen and (min-height: 600px){
			overflow: auto;
			height: 440px;
			max-height: 440px;
		}

		@media only screen and (min-height: 680px){
			height: 530px;
			max-height: 530px;
		}

		@media only screen and (min-height: 750px){
			height: 585px;
			max-height: 585px;
		}

		@media only screen and (min-height: 850px){
			height: 685px;
			max-height: 685px;
		}

		label{
			font-size: 15px;
			.hover;

			#select-all{
				margin: 0 15px 0 5px;
				.hover;

				@media only screen and (min-width: 1000px){
					margin-top: 13px;
					margin-bottom: 13px;
				}
			}
		}

		#download{
			background-color: @azul-escuro;
			color: #FFF;
			display: block;
			border: none;
			.radius(20px);
			font-size: 15px;
			padding: 8px 40px 8px 15px;
			margin: 0 auto;
			margin-bottom: 10px;
			background-image: url("../images/icone-download.png");
			background-repeat: no-repeat;
			background-position: top 8px right 15px;
    		background-size: 17px auto;
			.hover;

			@media only screen and (min-width: 1000px){
				position: absolute;
				left: calc(~"50% - 61px");
				top: 20px;
			}
		}

		#compartilhe{
			display: none;
			font-size: 15px;
			color: @azul-escuro;

			@media only screen and (min-width: 1000px){
				position: absolute;
				display: block;
				right: 15px;
				top: 27px;
			}
		}

		.tabela{
			border-collapse: collapse;
			width: 100%;
			max-width: 100%;
			margin: 12px 0;

			.check-download{
				margin: 0 5px;
				.hover;
			}

			th, td{
				padding: 7px 0;
				font-size: 14px;
			}

			thead{
				tr{
					th{
						background-color: @azul-escuro;
						color: #FFF;
						text-align: left;
						font-weight: normal;

						&:first-child{
							width: 30px;
						}
						
					}
				}
			}
			tbody{
				tr:nth-child(even){
					background-color: #e0e4e8;
				}
			}

			.mobile-right{
				text-align: right;
				padding-right: 7px;

				@media only screen and (min-width: 1000px){
					text-align: left;
					padding-right: 0;
				}
			}

			.mobile{
				display: none;

				@media only screen and (min-width: 1000px){
					display: table-cell;
				}
			}

			
		}
	}
}

#notificacao{
	display: none;
	background-color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	border-bottom: solid 4px @azul-claro;
	box-shadow: 0 0 9999px 9999px rgba(0, 0, 0, 0.8);

	span{
		font-weight: bold;
		display: block;
		padding: 12px 0;
		text-align: center;
		color: @azul-escuro;
		font-size: 15px;

		@media only screen and (min-width: 1000px){
			font-size: 22px;
		}
	}
}

footer{
	text-align: center;
	padding: 0 3px 8px 3px;
	font-size: 15px;

	@media only screen and (min-width: 1000px){
		position: fixed;
		bottom: 0;
		width: 100%;

		#copy, #developer{
			position: fixed;
			right: 15px;
		}
	}

	#termos{
		color: #FFF;
		display: none;

		a{
			text-decoration: none;
			color: #FFF;
		}

		@media only screen and (min-width: 1000px){
			display: block;
		}
	}

	#copy{
		color: #FFF;

		@media only screen and (min-width: 1000px){
			bottom: 20px;
		}
	}

	#developer{
		margin-top: 4px;
		color: #FFF;	
		font-size: 12px;

		a{
			text-decoration: none;
			color: inherit;
			.hover;

			&:hover{
				text-decoration: underline;
			}
		}

		@media only screen and (min-width: 1000px){
			bottom: 5px;
		}
	}
}