@keep: "Keep Calm", sans-serif;
@montserrat-extralight: "Montserrat ExtraLight", sans-serif;
@montserrat-ultralight: "Montserrat UltraLight", sans-serif;
@montserrat-light: "Montserrat Light", sans-serif;
@montserrat-regular: "Montserrat Regular", sans-serif;
@montserrat-bold: "Montserrat Bold", sans-serif;

@font-face {
	font-family: 'Keep Calm';
	src: url('fonts/KeepCalm-Medium.ttf');
}
@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url('fonts/Montserrat/Montserrat-Hairline.otf');
}
@font-face {
	font-family: 'Montserrat UltraLight';
	src: url('fonts/Montserrat/Montserrat-UltraLight.otf');
}
@font-face {
	font-family: 'Montserrat Light';
	src: url('fonts/Montserrat/Montserrat-Light.otf');
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('fonts/Montserrat/Montserrat-Regular.otf');
}
@font-face {
	font-family: 'Montserrat Bold';
	src: url('fonts/Montserrat/Montserrat-Bold.otf');
}