@import "fonts.less";

@preto: #000;
@cinza: #4f4f4f;
@cinza-claro: rgba(245, 245, 245, 1);
@azul: #0075be;
@branco: #FFF; 

* {
	color: @preto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: @montserrat-ultralight;
}

html, body, main{
	width: 100%;
	height: 100%;
	background-color: @cinza-claro;
}

.tooltipster-base{
	min-width: 400px;
	max-width: 450px;

	height: auto;
	overflow-y: auto;
	pointer-events: all;
}

.tooltipster-box{
	max-height: 350px;

	table{
		width: 100%;
		border-collapse: collapse;

		tr {
			td{
				color: @branco;
				border-bottom: solid 1px @branco;
				padding: 3px 0 1px 0;

				&:last-child{
					text-align: right;
				}
			}
		}
	}
}

.radius(@borda: 10px){
	-webkit-border-radius: @borda;
	-moz-border-radius: @borda;
	border-radius: @borda;
}

.botao{
	background-color: @azul;
	border: none;
	font-size: 1em;
	color: @branco;
	width: auto;
	padding: 12px;
	.hover;
	display: block;
	text-align: center;
}

.transition{
	transition: all 500ms ease;
}

.hover{
	cursor: pointer;	
}

a{
	text-decoration: none;
}

.tabela{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border-left: solid 1px fade(@cinza, 20%);

	thead{
		background-color: @azul;
	}

	th, td{
		padding: 8px 30px;
	}

	th {
		text-align: left;
		color: @branco;
		font-family: @montserrat-light;
		font-size: 0.8em;
	}

	tbody {
		tr.selecionada{
			background-color: #ffc;
		}

		tr{
			.transition;

			&:hover{
				background-color: #ffc;	
			}
		}

		td{
			padding: 10px 30px;
			border-bottom: solid 1px fade(@cinza, 20%);
		}
	}
}

#cabecalho{
	-webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.7);
	box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.7);

	nav{
		background-color: @cinza;
		text-align: center;

		img {
			width: 13%;
			height: auto;
		}
	}
}

#central{

	> h1{
		font-size: 2.8em;
		padding: 0 10%;
		margin: 40px 0;
		text-align: center;
	}

	#principal{
		display: flex;
		margin-top: 7%;
		
		> div{
			flex: 1;
			padding-left: 3%;

			h1 {
				font-size: 4em;
				color: @preto;
				margin: 0 auto;
				margin-top: 1.7em;
			}

			.formulario {
				min-height: 415px;
				width: 350px;
				background-color: @branco;
				position: relative;
				margin: 0 auto;
				padding-top: 20px;
				-webkit-box-shadow: -7px -7px 15px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: -7px -7px 15px 0px rgba(0,0,0,0.2);
				box-shadow: -7px -7px 15px 0px rgba(0,0,0,0.2);

				.controls-form {
					border-bottom: solid 1px @cinza-claro;
					height: auto;
					padding: 12px 18px;

					.campo-form{
						width: 100%;
						font-size: 0.9em;
						padding: 6px 8px;
						.radius(7px);
						border: solid 1px @branco;

						&:focus{
							.transition;
							outline: none;
							background-color: @cinza-claro;
							border: solid 1px @cinza-claro;
						}
					}

					#ajudaClick{
						display: block;
						position: absolute;
						top: -35px;
						right: 0;
						font-size: 0.9em;
						.hover;
						margin-right: 2px;

						img{
							position: relative;
							top: 4px;
							width: 20px;
							height: auto;
						}
					}

					.label{
						display: block;
						margin-bottom: 3px;
						font-size: 0.9em;
					}

					ul {
						list-style: none;
						margin-top: 11px;
						display: flex;
						padding-left: 8px;

						li {
							flex: 1;

							.botao-upload {
								font-size: 0.9em;
								color: @branco;
							    position: relative;
							    overflow: hidden;
								.hover;
								width: 100%;

								span{
									position: absolute;
									top: 13px;
								}

								img{
									height: auto;
									margin-right: 12px;
								}
							}

							#botao-arquivo{
								img{
									width: 30px;
									
								}
							}

							#botao-pasta{
								img{
									width: 44px;
								}
							}

							input.input-upload {
							    position: absolute;
							    top: 0;
							    right: 0;
							    margin: 0;
							    padding: 0;
							    font-size: 25px;
							    cursor: pointer;
							    opacity: 0;
							    width: 100%;
							}
						}	
					}

					textarea{
						resize: none;
						height: 100px;
					}


					#arquivosUpload{
						font-size: 0.9em;
						display: none;
						margin-top: 10px;
						margin-left: 8px;
						.hover;
					}
				}

				#box-mensagem{
					border-bottom: none;
				}

				#lista-email-amigos{
					overflow-y: auto;
					overflow-x: hidden;
					max-height: 80px;

					img{
						width: 23px;
						height: auto;
						position: absolute;
						right: -35px;
						top: 190px;
						opacity: 0.5;
						.hover;

						&:hover{
							.transition;
							opacity: 1;					
						}
					}
				}

				input[type="submit"]{
					position: absolute;
					bottom: 0;
					width: 100%;
				}
			}
		}
	}


	#acoes-arquivos{
		list-style: none;
		padding-left: 30px;
		margin-bottom: 8px;

		li{
			display: inline-block;
			padding: 7px 0;
			margin-right: 50px;
			.transition;
			.hover;

			&:hover{
				border-left: solid 4px @azul; 
				padding-left: 7px;
				font-family: @montserrat-light;
				font-size: 1.1em;
			}

			img {
				margin-left: 10px;
				float: right;
				width: 22px;
				height: auto;
			}
		}
	}

	table#arquivos-uploaded{
		th:first-child{
			width: 40%;
		}
	}
}

#loading,
#close-upload,
#compartilhar,
#arquivos-success,
#notification{
	display: none;
}

#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);

	#panel-loading{
		background-color: @branco;
		padding: 30px 20px;
		width: 420px;
		height: auto;
		max-height: 550px;
		position: absolute;
		top: 12%;
		left: 50%;
		margin-left: -210px;
		.radius;

		header {
			background-color: @azul;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 55px;
			border-radius: 10px 10px 0 0; 

			h1{
				font-size: 1.1em;
				padding: 16px 20px;
				vertical-align: middle;
				color: @branco;

				#close-upload{
					color: @branco;
					font-size: 0.9em;
					float: right;
					.hover;
				}
			}

		}
	
		.pie_progress {
		    width: 135px;
		    margin: 0 auto;
		    margin-top: 50px;

		    .pie_progress__number{
		    	color: @cinza;
		    	font-size: 35px;
		    }

		    //Cor do circulo
			.pie_progress__svg{
				svg {
					path{
						stroke: @azul;
					}
				}
			}
		}

		#compartilhar{
			margin-top: 22px;

			h2{
				font-size: 1em;
				margin-bottom: 2px;
				font-family: @montserrat-light;
			}

			form {
				input[type="text"]{
					width: 100%;
					font-size: 1em;
					border: none;
					outline: none;
				}

				.botao{
					width: 100%;
					.radius(5px);
					margin: 12px 0;
				}
			}

			#arquivos-success{
				margin-top: 10px;
				overflow: auto;
				height: auto;
				max-height: 190px;

				ul {
					list-style: none;

					li{
						border-bottom: solid 1px #cccccc;
						padding-bottom: 3px;
						margin-bottom: 3px;

						img{
							float: right;
							width: 20px;
							height: auto;
						}
					}
				}
			}
		}
	}
}

#notification{
	position: absolute;
	top: 12%;
	right: 5%;
	background-color: @branco;
	padding: 20px 30px;
	border-radius: 0 8px 8px 0;
	border-left: solid 8px @azul;
	-webkit-box-shadow: -3px 3px 7px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -3px 3px 7px 0px rgba(0,0,0,0.5);
	box-shadow: -3px 3px 7px 0px rgba(0,0,0,0.5);
}

#ajuda{
	position: absolute;
	width: 1px;
	height: 1px;
	right: 0;
	bottom: 0;
	box-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.7);
	display: none;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px 15px;
	font-family: @montserrat-light;
	text-align: right;

	div#copy{
		font-size: 0.9em;
	}

	div#developer{
		font-size: 0.8em;

		a{
			text-decoration: underline;
		}
	}
}